openapi: 3.0.1
info:
  title: Freeplay HTTP Agents Projects API
  description: The Freeplay HTTP API provides programmatic access to the Freeplay LLM experimentation, evaluation, and observability platform. It covers prompt template management, recording completions and sessions/traces, curating test cases and datasets, running batch test runs and evaluations, and recording customer and human feedback. The API root is your Freeplay instance URL plus /api/v2. For the standard cloud instance this is https://app.freeplay.ai/api/v2; private/self-hosted instances use a per-account subdomain such as https://{subdomain}.freeplay.ai/api/v2.
  termsOfService: https://freeplay.ai/terms
  contact:
    name: Freeplay Support
    url: https://docs.freeplay.ai/
  version: v2
servers:
- url: https://app.freeplay.ai/api/v2
  description: Freeplay Cloud (standard instance)
- url: https://{subdomain}.freeplay.ai/api/v2
  description: Private / self-hosted instance (per-account subdomain)
  variables:
    subdomain:
      default: app
      description: Your Freeplay account subdomain.
security:
- bearerAuth: []
tags:
- name: Projects
  description: List workspace projects.
paths:
  /projects/all:
    get:
      operationId: listProjects
      tags:
      - Projects
      summary: List all projects in the workspace.
      responses:
        '200':
          description: A list of projects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate requests using your Freeplay API key as a Bearer token in the Authorization header. API keys are managed at https://app.freeplay.ai/settings/api-access.
