openapi: 3.2.0
info:
  title: Freeplay HTTP Traces API
  description: The Freeplay HTTP API provides programmatic access to the Freeplay LLM experimentation, evaluation, and observability platform.
  termsOfService: https://freeplay.ai/terms
  contact:
    name: Freeplay Support
    url: https://docs.freeplay.ai/
  version: v2
servers:
- url: https://app.freeplay.ai/api/v2
  description: Freeplay Cloud (standard instance)
- url: https://{subdomain}.freeplay.ai/api/v2
  description: Private / self-hosted instance (per-account subdomain)
  variables:
    subdomain:
      default: app
      description: Your Freeplay account subdomain.
security:
- bearerAuth: []
tags:
- name: Traces
  description: Record traces that group related completions.
paths:
  /projects/{project_id}/sessions/{session_id}/traces/id/{trace_id}:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - $ref: '#/components/parameters/SessionId'
    - $ref: '#/components/parameters/TraceId'
    post:
      operationId: recordTrace
      tags:
      - Traces
      summary: Record a trace that groups related completions within a session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordTraceRequest'
      responses:
        '200':
          description: The recorded trace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trace'
components:
  schemas:
    Trace:
      type: object
      properties:
        trace_id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        input:
          type: string
        output:
          type: string
    RecordTraceRequest:
      type: object
      properties:
        input:
          type: string
        output:
          type: string
        custom_metadata:
          type: object
          additionalProperties: true
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The Freeplay project ID.
    TraceId:
      name: trace_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SessionId:
      name: session_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate requests using your Freeplay API key as a Bearer token in the Authorization header. API keys are managed at https://app.freeplay.ai/settings/api-access.
